---
import Links from "../Links/Links.astro";
import Title from "../UI/Title.astro";
import { PERSONAL_INFO } from "../../data/personal";
---

<header
  id="home"
  class="relative h-screen flex flex-col items-center justify-center text-center px-4"
>
  <main class="relative z-10 flex flex-col items-center">
    <Title level={1} animate={true}>
      Hello There!!
    </Title>
    <p
      class="text-lg md:text-2xl text-white mb-8 max-w-2xl font-medium"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      {PERSONAL_INFO.heroDescription}
    </p>
    <div data-aos="fade-up" data-aos-delay="400">
      <Links />
    </div>
  </main>
</header>
