---
import Title from "./Title.astro";

interface Props {
    id: string;
    title?: string;
    className?: string;
    titleClassName?: string;
}

const { id, title, className, titleClassName } = Astro.props;
---

<section
    id={id}
    class:list={[
        "py-24 px-6 max-w-7xl mx-auto flex flex-col items-center justify-center min-h-screen",
        className,
    ]}
>
    {
        title && (
            <Title level={2} class={titleClassName}>
                {title}
            </Title>
        )
    }
    <slot />
</section>
